{#
  {
    tag:            "string",     # a or span or button
    type:           "string"      # action || picto || link
    full:           "boolean",
    reverse:        "boolean",
    withEntitled:   "boolean",
    url:            "string"      # link path
    data:           {},           # Data list
    picto:          "string",     # Picto name
    image:          "string",     # Picto name
    pictoTop:       "boolean",    # Picto is top
    title:          "string",     # Link title
    entitled:       "string",     # Link entitled
    subEntitled:    "string"      # Link sub entitled
  }
#}

{# Create class Final #}
{% set classFinal = "button button-"~type~(class is defined and class ? " "~class : "") %}

{% if withEntitled|default(false) %}
  {% set classFinal = classFinal ~ " with-entitled" %}
{% endif %}
{% if full|default(false) %}
  {% set classFinal = classFinal ~ " full-width" %}
{% endif %}


{% if color|default(false) %}
  {% set classFinal = classFinal ~ " color-"~color %}
{% endif %}


{% if subEntitled|default(null) and (withEntitled|default(false) or type != "picto") %}
  {% set classFinal = classFinal ~ " with-sub-title" %}
{% endif %}

{% if picto|default(null) and pictoTop|default(false) %}
  {% set classFinal = classFinal ~ " picto-top" %}
{% endif %}

{% if picto|default(null) and reverse|default(false) %}
  {% set classFinal = classFinal ~ " reverse" %}
{% endif %}

{% if "button-action" in classFinal|default(null) %}
  {% set classFinal = classFinal~" font-poppins-m-13-uppercase-white" %}
  {% if entitled is defined and entitled == false %}
    {% set classFinal = classFinal ~ " without-entitled" %}
  {% endif %}
{% endif%}

{# Create tag Final #}
{% set tagFinal = tag is defined ? tag : (url is defined and url) ? "a" : "span" %}

{# Create data Final #}
{% set dataFinal = {
  "tabindex":     "0",
  "role":         "button",
  "aria-pressed": "false",
  "title":        title
} %}

{% if data is defined and data is iterable %}
  {% set dataFinal = dataFinal|merge(data) %}
{% endif %}

{# If disabled reinit button #}
{% if disabled is defined and disabled == true %}

  {% set classFinal = classFinal ~ " disabled" %}
  {% set tagFinal = "span" %}

{% elseif url is defined and url%}
  {% if tagFinal == "a" %}
    {% set dataFinal = dataFinal|merge({"href": url}) %}
  {% else %}
    {% set dataFinal = dataFinal|merge({"data-url": url}) %}
  {% endif %}

{% endif %}

{% if dataFinal.class is defined %}
  {% set classFinal = classFinal~ " "~dataFinal.class %}
{% endif %}

{% set dataFinal = dataFinal|merge({"class": classFinal}) %}

<{{ tagFinal }} {% for key, value in dataFinal %}{{ key }}="{{ value }}" {% endfor %}>
{% if image is defined and image %}
  <div class="image">{% if image %}<img src="{{ image }}" alt="{{ title }}" />{% endif %}</div>
{%- elseif picto is defined and picto -%}
  <span class="picto font-austral-16 {{ picto }}"></span>
{%- endif -%}

{% if entitled is not defined or entitled != false %}
  <span class="entitled {% if not "button-action" in classFinal|default(null) %}font-poppins-m-11-uppercase{% endif %}">
    {%- if html is defined and html -%}
      {{- html|raw -}}
    {%- else -%}
      {{- entitled is defined ? entitled|raw() : title -}}
      {% if subEntitled is defined and subEntitled %}
        <span class="sub-entitled font-poppins-m-10-grey">{{- subEntitled -}}</span>
      {% endif %}
    {%- endif -%}
  </span>
{% endif %}

</{{ tagFinal }}>