{# Create data Final #}
{% set dataFinal = {
  "href":                     url|default("#"),
  "class":                    "link",
  "data-click-actions":       "reload",
  "data-reload-elements-key": "container"
} %}

{% if data is defined and data is iterable %}
  {% set dataFinal = data|merge(dataFinal) %}
{% endif %}
<{{ tag|default("li") }} class="col col--no-gutters tile tile-color-{{ color }}">
  <a {% for key, value in dataFinal %}{{ key~'='~value }} {% endfor %}>

      {% if img is defined and img is not null %}
        <div class="image-content">
          <img src="{{ img }}" alt="{{ entitled }}" />
        </div>
      {% else %}
        <div class="picto-content">
          {% if picto is not defined or picto is null %}
            {% set picto = "folder" %}
          {% endif %}
          <img src="{{ asset("bundles/australdesign/images/tile-picto/color-"~color~"/austral-icon-"~picto~".svg") }}" alt="{{ entitled }}">
        </div>
      {% endif %}
    <div class="content-title">
      <h3 class="title font-poppins-sb-18">{{ entitled }}</h3>
      {% if subEntitled is defined and subEntitled is not null %}
        <span class="sub-title font-poppins-m-10-grey">{{ subEntitled }}</span>
      {% endif %}
    </div>
  </a>
</{{ tag|default("li") }}>