{% if graphicItems is defined %}
  <div class="popin-content">
    <div class="grid" data-tabs>
      <div class="row">
        <div class="group-col col--4 graphic-items-content-menu">
          <div class="group-fields-container group-component-choice-type-link-fields-container">
            <span class="group-fields-name">{{ ("graphic-item.select.type")|trans({}, "austral") }}</span>
            <div class="group-fields-content group-column ">
              <div class="group-col auto ">
                <div class="field-content field-content-choiceField">
                  <div class="field field-choiceType-radio no-border">
                    <ul class="domains-list">
                      {% for key, icons in graphicItems %}
                        <li class="domain">
                          <span data-tab-choice="graphic-item-type-{{ key }}" class="font-poppins-m-14">{{ icons.name ?? ("graphic-item.type."~key)|trans({}, "austral") }}</span>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span data-grahic-element-choice="" class="without-picto">{{ ("graphic-item.delete.picto")|trans({}, "austral") }}</span>
        </div>

        <div class="col col--xs-8">
          <div class="list-container">
            <div class="list-container-scroll">
              {% for key, icons in graphicItems %}
                <div class="list-container-by-item-type" data-tab="graphic-item-type-{{ key }}" >
                  <div class="height">
                    <div class="top-content">
                      <h2 class="h2-title title">{{ icons.name ?? ("graphic-item.type."~key)|trans({}, "austral") }}</h2>
                    </div>
                    <div class="list-content">
                      <ul>
                        {% for icon in icons.pictos %}
                          <li class="choice" data-grahic-element-choice="{{ icon.keyname }}">
                            <div class="image-content">
                              {{ (icon.keyname)|graphic_item_render|raw() }}
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{%- endif %}